body {
    font-family: 'Arial', sans-serif;
    background: #fefefe;
    color: #333;
    margin: 0;
    padding: 0;
    text-size-adjust: 175%;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    color: #d29346;
    /*#e91e63;#c4863a;*/
    font-size: 1.75em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: #2c3e50;
    /* #03a9f4; */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 60px;
    font-style: italic;
    color: #888;
    font-size: 0.9em;
    text-align: center;
}

footer .contact-info {
    margin-top: 20px;
    font-style: normal;
    color: #555;
}

footer .contact-info a {
    color: #03a9f4;
    text-decoration: none;
}

footer .contact-info a:hover {
    text-decoration: underline;
}